body{
    margin: 0px;
}

.grid-top{
    display: grid;
    grid-template-rows: 100%;
    height: 8vh;

}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);

}

.contact{
    display: flex;
    flex-direction: column;
    margin: 45px;
}