body {
    margin: 0px;
}

.grid-top {
    display: grid;
    grid-template-rows: 100%;
    height: 8vh;
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

.pictures img {
    vertical-align: middle;
    width: 50vh;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: solid 2px rgb(71, 71, 71);
}