.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    z-index: 1;
    position: sticky;
    top: 0;

}

.name {
    padding: 20px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.top-bar a{
    text-decoration: none;
}

.nav h2 {
    padding: 20px;
    margin: 0px;
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 71, 71);
}


.nav a{
    text-decoration: none;
}